@charset "utf-8";
/* 店铺商品列表页 */
.lb_cont_ad{width:100%; height:100px; overflow:hidden; margin-top:10px;}
.lb_cont_ad img{width:1200px; height:100px;}
.lb_cont_nav{width:1198px; height:39px; line-height:39px; border:1px solid #E9E9E9; border-top:none; background:#F8F8F8;}
.lb_cont_nav a{font-size:14px; color:#3E3E3E; margin-left:50px; font-family:"microsoft yahei";}
.lb_cont_nav a.on{color:#DD0908;}
.lb_cont_nav a:hover{color:#DD0908;}
/*店铺商品列表页 left*/
.lb_cont_l{width:215px; float:left; overflow:hidden;}
.lb_hot_shop{width:203px; margin-top:25px; border:1px solid #DCDCDC; box-shadow:-2px 2px 10px #E1DEDF inset; padding:5px; overflow:hidden;}
.lb_hot_shop h3.title{font-size:14px; font-weight:bold; height:30px; line-height:30px; color:#3E3E3E; border-bottom:1px solid #EDEDED; padding-left:5px;}
.lb_hot_type li{padding:10px 0; overflow:hidden; border-top:1px dotted #EDEDED;}
.lb_hot_type li img{float:left; width:63px; height:63px; padding:2px; border:1px solid #DCDCDC; margin-left:5px;}
.lb_type_r{float:left; margin-left:10px; width:115px; color:#3E3E3E;}
.lb_type_r h3{line-height:20px;}
.lb_type_r h4{color:#DD0908; font-size:14px; font-weight:bold;}
.lb_type_r:hover{color:#DD0908;}
.lb_hot_brank li{height:32px; line-height:32px; padding-left:15px; border-top:1px dotted #EDEDED; background:url(../images/public/xyd.png) no-repeat 5px center; overflow:hidden;}
.lb_hot_type li.first{border-top:none;}
.lb_hot_shop1{margin-top:0px;}
.lb_cont_r{width:965px; float:right;}
/*店铺商品列表页 right*/
.lb_choice{width:923px; border:1px solid #DCDCDC; padding:15px 20px; margin-top:25px;}
.lb_sort{font-size:12px; color:#909090; border-top:1px dotted #E5E5E5; overflow:hidden;}
.lb_sort1{border:none;}
.lb_sort span{float:left; font-family:"宋体"; margin-top:17px; width:80px; display:inline-block; text-align:right;}
.lb_sort_ul{width:90%; overflow:hidden; float:left; margin-top:8px;}
.lb_sort_ul li{float:left; margin:0 10px; line-height:30px;}
.lb_sort_ul li a.on{background:#D60000; padding:3px 5px;color:#fff; transition:all 0s;}
.lb_goods_sort{width:923px; height:35px; line-height:35px; border:1px solid #DCDCDC; padding:0px 20px; margin-top:10px;}
.lb_sort_l{float:left;}
.lb_sort_l span.sort{color:#3e3e3e; margin-right:15px;}
.lb_sort_l a{margin:0 5px; padding:7px 12px; color:#3e3e3e;}
.lb_sort_l a.on{background:#DD0908; color:#fff;}
.lb_sort_r{float:right; font-family:"宋体"; }
.lb_sort_r b.number{color:#DD0908;}
.lb_sort_r span.page{margin-left:35px;}
.lb_sort_r span.page_number{color:#3e3e3e; margin:0 5px;}
.lb_goods_list{width:100%; overflow:hidden;}
.lb_goods_ul{width:110%; overflow:hidden;}
.lb_goods_ul li{width:200px; padding:10px 15px; overflow:hidden; border:1px solid #DCDCDC; margin:12px 12px 0 0; float:left; text-align:center;}
.lb_goods_h{line-height:18px; text-align:left;}
.lb_goods_p{line-height:20px; text-align:left;}
.lb_goods_p strong{font-size:16px; color:#DD0908;}
.lb_goods_p strong span{font-size:12px; font-weight:normal; text-decoration:line-through; margin-left:10px; color:#909090;}
.lb_goods_p span.dis{float:right;}

/*店铺首页*/
.lc_hot_sell{width:1196px; border:2px solid #F88C8C; margin-top:20px; overflow:hidden;}
.lc_hot_sell h3.title{width:100%; height:52px; text-align:center; line-height:52px; font-size:28px; font-weight:bold; background:#E95959; color:#fff;}
.lc_hot_goods{padding:0px 25px 15px 25px; overflow:hidden;}
.lb_goods_ul1 li{width:240px; margin-right:19px;}
.lz_mobile1{width:210px; height:230px;}
.lb_goods_p1{margin-top:5px;}
.lb_goods_p1 strong{font-size:16px;}

/*商品列表页*/
.ld_cont_add{margin-top:10px;}
.ld_cont_add a.big{font-size:18px; font-weight:bold; color:#3e3e3e; font-family:"microsoft yahei"}
.ld_cont_add span{margin:0 5px;}
























