@charset "utf-8";
/* public */
*{margin:0; padding:0;}
img{border:0; display:block;}
ul,dl,li,dt,dd{list-style:none;}
body{font:12px "microsoft yahei", Arial, Helvetica, sans-serif; color:#7A7D7E;}
a{font-size:12px;text-decoration:none; color:#909090; font-family:"宋体";
transition: all 0.3s /*设置颜色缓慢变化*/}
a:hover{color:#DD0908;}
.clear{clear:both;}
span,p{font-family:"宋体";}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
.lh_content{width:1200px; margin:auto; overflow:hidden;}
input,textarea,select{outline: none;}
select{filter:alpha(opacity=0); opacity:0;}
textarea{resize:none; overflow:hidden;}
/*filter:alpha(opacity=80)  progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#1B536F', endColorstr = '#1B536F');*/
/*css3效果*/
/*图片放大效果*/
.lz_scale{display:inline-block; width:100%; height:100%; overflow:hidden;}/*图片上层*/
.lz_scale img{transition:all .3s; -webkit-transition:all .3s;}
.lz_scale:hover img{transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);}
/*图片移动*/
.lz_mobile{display:inline-block; width:215px; height:215px; overflow:hidden; position:relative;}
.lz_mobile img{width:210px; height:210px;transition:all .3s; -webkit-transition:all .3s; position:absolute; left:0px; top:0px;}
.lz_mobile:hover img{left:-20px;}
/*白色遮罩*/
.lz_opacity:hover img{opacity:0.6;filter:alpha(opacity=60);}

/*header*/
.l_i_topAd{width:1200px; margin:auto;}
.l_header{width:100%; height:33px; background:#F3F3F3; border-top:1px solid #EEEEEE; border-bottom:1px solid #EEEEEE;}
.l_header a:hover{color:#DD0908;}
.l_header_box{width:1200px; margin:auto;}
.l_header_box .l_header_nav{width:100%; height:35px; line-height:35px; font-size:12px; color:#929292; overflow:hidden;}
.l_header_nav .l_nav_left{float:left; width:250px; padding-left:15px;}
.l_nav_left a{color:#585858; padding:0 5px;}
.l_header_nav .l_nav_center{width:250px; margin-left:150px; float:left; color:#4C4C4C; font-weight:bold;}
.l_nav_center i{font-size:16px; color:#E24140; font-weight:bold;}
.l_header_nav .l_nav_right{float:right;}
.l_nav_right a{padding:0 10px; display:inline-block; height:34px; border-left:1px solid #E0E0E0; color:#3e3e3e;}
.l_nav_right a.border{border-right:1px solid #E0E0E0;}
.l_header_box .l_logo_box{width:100%; margin-top:20px; overflow:hidden;}
.l_logo_box .l_header_logo{float:left; width:300px; height:75px; overflow:hidden;}
.l_header_logo a{display:inline-block; width:155px; height:75px; margin-left:40px;}
.l_logo_box .l_header_search{float:left; width:520px; overflow:hidden;}
.l_header_search .l_search{width:510px; height:32px; border:3px solid #DD0908;}
.l_search input{border:0px;}
.l_search input.search{width:350px; height:32px; color:#3e3e3e; margin-left:15px; float:left; line-height:32px;}
.l_search input.btn{width:65px; height:32px; color:#fff; letter-spacing:5px; background:#DD0908; float:right; font-size:14px; padding-left:10px; font-weight:bold; cursor:pointer;}
.l_header_search p{line-height:24px; color:#919191; font-family:"宋体";}
.l_header_search p a{margin-right:10px; color:#919191;}
.l_header_search p a:hover{color:#E4393C;}
.l_logo_box .l_log_right{float:right; width:340px; height:52px;}
.l_log_right a{width:165px; height:50px; display:inline-block;}
.l_log_right a.left{background:url(../images/public/ll_r2_c2.png) no-repeat left center;}
.l_log_right a.right{background:url(../images/public/ll_r2_c2.png) no-repeat right center;}
/*nav*/
.l_nav_bg a:hover{color:#DD0908;}
.l_nav_bg{width:100%; height:40px; margin-top:20px; border-bottom:2px solid #DD0908;}
.l_nav_bg .l_nav{width:1200px; margin:auto;}
.l_nav .l_nav_li{width:1000px; position:relative; float:left; z-index:20;}
.li_nav_ul{width:110%; overflow:hidden;}
.li_nav_ul li{padding:0 20px; height:40px; margin-right:30px; line-height:40px; float:left;}
.li_nav_ul li.liBg{background:#DD0908;}
.li_nav_ul li h3.all{padding:0 30px 0 50px; background:url(../images/public/comment.png) no-repeat -1126px -14px; font-size:16px; color:#fff; cursor:pointer;}
.li_nav_ul li a{font-size:16px; color:#3e3e3e; font-family:"微软雅黑";}
.li_nav_ul li a.on{color:#DD0908;}
.li_nav_ul li .l_nav_all{width:216px; position:absolute; left:0px; top:40px; box-shadow:2px 2px 5px #CECECE; padding-bottom:20px;}

/*二级导航*/
.lh_second_nav{width:214px; height:415px; background:#fff; position:absolute; left:0px; top:42px; z-index:20;}
.lh_item{width:184px; padding:0 15px; height:31px; line-height:31px; border-bottom:1px solid #EEEEEE; border-left:1px solid #E6E6E6; border-right:1px solid #E6E6E6; }
.lh_item1{border-right-color:#fff;}
.lh_item h3.title a{font-size:12px; color:#909090; margin-right:6px;}
.lh_item h3.title a.big{font-size:14px; color:#3e3e3e;}
.lh_item h3.title a:hover{color:#DD0908;}
.lh_item h3.title i.jt{float:right; font-weight:bold; font:400 9px/14px consolas; font-size:16px; color:#909090; margin-top:13px;}
/*三级导航*/
.lh_three_nav{width:690px; background:#fff; border:1px solid #E5E5E5; position:absolute; left:214px; top:0px; border-left:none; display:none; z-index:-1;}
.lh_three_model{padding:15px; overflow:hidden;}
.lh_three_model span{float:left; text-align:right; font-size:14px; font-weight:bold; color:#666666; display:inline-block; width:90px;}
.lh_three_model span i.jt{font-weight:bold; font:400 9px/14px consolas; font-size:16px; color:#909090; margin-left:10px;}
.lh_model_dl{float:left; margin-left:15px; margin-top:5px; width:80%;}
.lh_model_dl dd{float:left; line-height:24px;}
.lh_model_dl dd a{font-size:12px; color:#666666; padding:0 6px; border-left:1px solid #E0E0E0;}




/*购物车*/
.lh_cart{float:right; width:174px; position:relative; z-index:100;}
.lh_cart_number{width:174px; height:30px;border:1px solid #DBDBDB; margin-top:4px;}
.lh_cart_number a{display:inline-block;width:154px; height:30px; background:#fff url(../images/public/bg_r3_c4.png) no-repeat 20px -1px; font-size:12px;color:#3E3E3E; text-align:center; line-height:33px; padding-left:20px;}
.lh_cart_number a span{color:#DD0908; font-weight:bold;}
.lh_cart_number a b{display:inline-block; width:15px; height:30px; float:right; background:#E4E4E4 url(../images/public/bg_r3_c4.png) 156px 24px; *margin-top:-33px;}
.lh_cart_shadow{width:174px; height:5px; background:#fff; position:absolute; left:136px; top:-3px; z-index:2;}
.lh_cart_down{width:270px; border:1px solid #DBDBDB; position:absolute; left:-136px; top:35px; background:#fff; padding:20px; display:none; box-shadow:0 0 5px rgba(0,0,0,0.2);}
.lh_cart_info{height:49px; line-height:49px; overflow:hidden; padding-left:20px;}
.lh_cart_info b{height:49px; display:inline-block; width:56px; float:left; background:url(../images/public/car.png) no-repeat center;}
.lh_cart:hover .lh_cart_down{display:block;}
.lh_cart:hover .lh_cart_number{box-shadow:0 0 5px rgba(0,0,0,0.2);}

.l_content{width:1200px; margin:auto; overflow:hidden;}


/*footer*/
.li_icon_box{width:100%; height:95px; border:1px solid #E6E6E6; background:#F6F6F6; margin-top:50px; overflow:hidden;}
.li_icon{width:1200px; margin:auto; line-height:95px; height:95px; overflow:hidden;}
.li_icon_a{width:110%; overflow:hidden;} 
.li_icon a{display:inline-block; margin-right:105px; float:left; margin-top:20px;}
.lh_footer_bg{width:100%; height:200px; border-bottom:1px solid #EBEBEB; background:#F6F6F6; overflow:hidden;}
.lh_footer_nav{width:1200px; overflow:hidden; margin:auto;}
.lh_nav_dl{width:141px; height:200px; overflow:hidden; float:left; border-right:1px solid #EFEFEF; padding:30px 0 0 0; margin-right:70px;}
.lh_nav_dl dt{font-size:16px; font-weight:bold; color:#525252; line-height:30px;}
.lh_nav_dl dd{line-height:24px;}
.lh_nav_box{width:110%; overflow:hidden;}
.lh_frind_link{width:100%; text-align:center; margin-top:20px;}
.lh_frind_link a{padding:0 5px; border-left:1px solid #A5A5A5;}
.lh_frind_link a.first{border:none;}
.lh_about_ul{text-align:center; width:100%; margin-top:10px;}
.lh_about_ul a{padding:0 5px; border-left:1px dotted #C4C4C4;}
.lh_about_ul a.first{border:none;}
.lh_footer_copy{width:100%; text-align:center; margin-top:10px; color:#A1A1A1;}
.lh_footer_copy1{margin-bottom:20px;}

/*右侧客服*/
.la_qq{position:fixed; right:120px; top:230px; width:50px; z-index:10000}
.la_qq ul li{width:50px; height:85px; background:#F5091E url(../images/public/qq.png) no-repeat 9px top; line-height:85px; text-align:center; margin-top:3px; cursor:pointer; position:relative;}
.la_qq ul li:hover{opacity:0.5;filter:alpha(opacity=50)}
.la_qq ul li.bg1{background-position:-93px top}
.la_qq ul li.bg2{background-position:-193px top}
.la_qq ul li.bg3{background-position:-393px top}
.la_qq ul li a{display:inline-block; width:25px; color:#fff; font-size:12px; height:40px; line-height:16px; margin-top:40px;}
.la_qq ul li.bg1:hover{opacity:1;filter:alpha(opacity=100)}
.la_qq ul li.bg1:hover .lh_float_show{opacity:1;filter:alpha(opacity=100); right:50px;visibility:visible; *display:block;}

.lh_float_show{position:absolute;transition:all .5s; right:70px;top:-142px; width:180px; height:225px; border:1px solid #C9C9C9; background:#fff; opacity:0;filter:alpha(opacity=0);visibility:hidden; *visibility:none;*display:none;}
.lh_float_jt1{position:absolute;right:-10px; bottom:0px; font-size:32px; color:#fff;}

/*分页工具条*/
.l_page_tools{margin-top:40px; float:right;}
.l_page_tools a{padding:5px 10px; text-align:center; border:1px solid #BBBBBB; margin-left:8px; color:#666666; font-size:12px; display:inline-block;}
.l_page_tools a.n{background:#DD0908; color:#fff; border-color:#DD0908;}
.l_page_tools a.on{background:#DD0908; color:#fff; border-color:#DD0908;}
.l_page_tools a:hover{border-color:#3388FF;}
.l_page_tools input{border:1px solid #BBBBBB;}
.l_page_tools input.to{width:45px; height:23px; margin-left:15px;}
.l_page_tools input.btn{font-size:12px; color:#fff; width:43px; height:26px; margin-left:10px; background:#DD0908; border-color:#DD0908; letter-spacing:2px; padding-left:2px; cursor:pointer;}
.l_page_tools input.btn:hover{border-color:#DD0908;}
.l_page_tools span{ font-size:12px; color:#848484; margin-left:15px;}

/* banner */
.li_banner_box{width:100%; height:415px; text-align:center; position:relative;}
.li_bd_ul li{width:100%; overflow:hidden; float:left;}
.li_hd_ul{position:absolute; left:50%; bottom:20px;}
.li_hd_ul li{float:left; width:45px; height:5px; background:#666; margin:0 5px; text-indent:-9999px; cursor:pointer;}
.li_hd_ul li.on{background:#DD0908;}
.li_banner_box1{height:600px; margin-top:10px;}











